# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
*.code-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

node_modules
# misc
.DS_Store
lib/settings.db.json
